body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;
    background-color: #FFFFFF;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

/* The top section of the page */
.logo-word {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0;
    display: inline-block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 117%;
    font-size: 18px;
    color: #2e2f42;
    display: inline-block;
}

.nav-information {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.nav-information:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #404bbf;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.nav-information:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #404bbf;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.teg-adress {
    font-style: normal;
    padding-left: 40px;
    margin-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

.adress-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    display: flex;
}

.adress-information:hover {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
}

.adress-information:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
}

.title-background {
    background-color: #2e2f42;
}

.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
}

.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.title-button:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #404BBF;
}

.title-button:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #404BBF;
}

/* Our goal */
.title-our-goal .visually-hidden {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-goal-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team */
.our-team-section{
    background-color: #F4F4FD;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: none;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.our-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* Our portfolio */
.title-our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: none;
}

.our-portfolio-programs {
   font-weight: 500;
   font-size: 20px;
   line-height: 120%;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
}

.our-portfolio-programs-inf {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.down-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-infor {
    color: #f4f4fd;
    margin-bottom: 16px;
    display: inline-block;
}

.page-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

li, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.border-cards {
    width: 360px;
    height: 120px;
    border-bottom: 7px double palevioletred;
    padding: 32px 16px;
}

.navigation {
    display: flex;
}

.adress-information-title {
    display: flex;
    gap: 40px;
}

.header {
    border-bottom: 1px solid #e7e9fc
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.section-one {
    padding: 188px 0;
}

.list-our-goal {
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    display: none;
}

.list-one {
    width: calc((100% - 72px) / 4);
}

.list-our-team {
    display: flex;
    gap: 24px;
}

.our-name {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.list-name-team {
    padding: 32px 0;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-programs {
    width: calc((100% - 48px) / 3);
}

.programs-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

img {
    display: block;
}

.list-navigation {
    padding: 24px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0;
    display: inline-block;
    margin-bottom: 16px;
}

.container-two {
    display: block;
}