body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
}

/* The top section of the page */
.logo-word {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 117%;
    font-size: 18px;
    color: #2e2f42;
}

.nav-information {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.nav-information:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #404bbf;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.nav-information:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #404bbf;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.teg-adress {
    font-style: normal;
}

.adress-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.adress-information:hover {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
}

.adress-information:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
}

.title-background {
    background-color: #2e2f42;
}

.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
}

.title-button:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #404BBF;
}

.title-button:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #404BBF;
}

/* Our goal */
.title-our-goal {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-goal-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team */
.our-team-section{
    background-color: #F4F4FD;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.our-name {
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our portfolio */
.title-our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.our-portfolio-programs {
   font-weight: 500;
   font-size: 20px;
   line-height: 120%;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.our-portfolio-programs-inf {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.down-page {
    background-color: #2e2f42;
}

.logo-infor {
    color: #f4f4fd;
}

.page-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}